/* Styles for Mobile devices */
body {
  overflow-x: hidden;

  min-width: 320px;
  min-height: 100vh;

  font-family: var(--primary-font);
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
  line-height: var(--lh-main);
  color: var(--clr-txt-main);

  /* Покращення відображення шрифтів */
  text-rendering: optimizeLegibility;

  background-color: var(--clr-bg-light-main);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

h1,
h2 {
  font-weight: var(--fw-bold);
  line-height: var(--lh-h);
}

h1 {
  font-size: var(--fs-hero);
  color: var(--clr-txt-light);
}

h2 {
  font-size: var(--fs-h2);
  text-align: center;
  text-transform: uppercase;
}

.logo {
  font-size: var(--fs-logo);
  font-weight: var(--fw-regular);
  line-height: var(--lh-logo);
  color: var(--clr-txt-light);
}

li a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);

  clip: rect(0 0 0 0);
}

@media (min-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container {
    max-width: 720px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1280px) {

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container {
    max-width: 1280px;
    padding-right: 16px;
    padding-left: 16px;
  }
}