/* .hero-section {
    background-color: var();
    background-image: var(), url();
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero-section {
        background-image: var(), url();
    }
}

.hero-container {
    min-height: px;
    padding-top: px;
    text-align: center;
}

.hero-title {
    margin-bottom: px;
}


@media screen and (min-width: 768px) {
    .hero-section {
        background-image: var(), url();
    }

    .hero-container {
        min-height: px;
        padding-top: px;
    }

    .hero-title {
        margin-bottom: px;
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image: var(), url();
        }
    }
}

@media screen and (min-width: 1240px) {} */