.hero-section {
    position: relative;
    margin-bottom: 20px;
    background-color: var(--clr-bg-dark-main);
}

.hero-container {
    padding-top: 182px;
    padding-bottom: 128px;
    color: var(--clr-txt-light);
}

.hero-text-box {
    position: relative;
    z-index: 1;
    line-height: var(--lh-h);
}

.hero-title {
    margin-bottom: 12px;
}

.hero-cta {
    margin-bottom: 28px;
    font-size: var(--fs-cta-hero);
    font-weight: var(--fw-bold);
}

.hero-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-bottom: 38px;

    font-size: var(--fs-text-hero);
    font-weight: var(--fw-regular);
}

.hero-item {
    display: flex;
    gap: 10px;
    align-items: start;
}

.hero-img-box {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 300px;
    height: 460px;
}

.hero-img {
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 768px) {
    .hero-section {
        margin-bottom: 37px;
    }

    .hero-container {
        padding-top: 142px;
        padding-bottom: 142px;
    }

    .hero-list {
        gap: 14px;
        margin-bottom: 62px;
    }

    .hero-img-box {
        position: absolute;
        right: 25%;
        bottom: 0;

        width: 362px;
        height: 352px;
    }

}

@media screen and (min-width: 1240px) {
    .hero-section {
        margin-bottom: 50px;
    }

    .hero-container {
        padding-top: 242px;
        padding-bottom: 146px;
    }

    .hero-img-box {
        position: absolute;
        right: 0;
        bottom: -110px;

        width: 888px;
        height: 677px;
    }
}