/* .footer {
    padding: px;
    color: var();
    background-color: var();
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: px;
    text-align: center;
}


@media (min-width: 768px) {
    .footer {
        font-size: px;
    }
}

@media screen and (min-width: 1200px) {} */