.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    margin-top: 20px;

    background-image: var(--linear-gradient-header);
    backdrop-filter: var(--blur-35);
}

.header-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.logo,
.nav-item {
    position: relative;
    display: inline-block;
    color: var(--clr-txt-light);
    transition: color var(--transition);
}

.logo::before,
.nav-item::before {
    content: attr(data-text);

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;


    opacity: 0;
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    background-clip: text;

    transition: opacity var(--transition);

    -webkit-text-fill-color: transparent;
}

.logo:hover,
.nav-item:hover {
    color: transparent;
}


.logo:hover::before,
.nav-item:hover::before {
    opacity: 1;
}

.nav {
    display: none;
}

@media (min-width: 768px) {
    .nav {
        display: flex;
    }

    .nav-list {
        display: flex;
        gap: 40px;

        font-size: var(--fs-nav-header);
        font-weight: var(--fw-regular);
        text-transform: uppercase;
    }

    .nav-item,
    .nav-item::before {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .burger {
        display: none;
    }
}