/*------------------- Базовий клас для всіх кнопок -------------------*/
/* .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 0;

    color: var();

    opacity: 0.6;

    transition: color var(--transition),
        background-color var(--transition),
        border-color var(--transition),
        opacity var(--transition),
        transform var(--transition);
}

.button:hover,
.button:focus {
    transform: scale(1.1);

    border-color: var();

    color: var();

    opacity: 1;
    background-color: var();
}




 */




/* ------------------- Кнопка бургер меню ------------------- */
.burger-menu {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    padding: 0;
    border: none;

    line-height: 0;

    background-color: transparent;
}


@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}

/* @media screen and (min-width: 1200px) {} */



/* ------------------- Кнопка закриття (Modal / Menu) ------------------- */
/* .button-close {
    position: absolute;

    width: 16px;
    height: 16px;
    border: none;

    background-color: transparent;
}

.button-close:hover {
    transform: rotate(90deg);
}

.mobile-menu-button-close {
    top: 16px;
    right: 16px;
} */




/* ------------------- Кнопка прокрутки -------------------*/
/* .button-scroll {
    position: fixed;
    z-index: 90;

    width: 48px;
    height: 48px;
    border: 2px solid var();
    border-radius: 50%;

    color: var();

    opacity: 0.6;
    background-color: var();
}

.button-scroll:hover,
.button-scroll:focus {
    transform: scale(1.1);
    opacity: 1;
}

.button-scroll-up {
    right: 20px;
    bottom: 80px;
}

.button-scroll-down {
    right: 20px;
    bottom: 20px;
} */