/*------------------- Базовий клас для всіх кнопок -------------------*/

.button {
    position: relative;
    z-index: 1;

    display: flex;

    margin: 0 auto;
    border: none;

    font-size: var(--fs-main);
    font-weight: var(--fw-bold);
    line-height: var(--lh-h);
    color: var(--clr-txt-light);

    background: transparent;
}

.button::after {
    content: "";

    position: absolute;
    z-index: -1;
    inset: 0;

    padding: 2px;
    border-radius: 5px;

    background: var(--linear-gradient);

    -webkit-mask:
        linear-gradient(var(--clr-txt-light) 0 0) content-box,
        linear-gradient(var(--clr-txt-light)0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.button::before {
    content: "";

    position: absolute;
    z-index: -1;
    inset: 0;

    border-radius: 5px;

    background: var(--linear-gradient);

    transition: opacity var(--transition);
}

.button:hover::before,
.button:focus::before,
.button:active::before {
    opacity: 0;
}

/* ------------------- Hero-button ------------------- */
.hero-button {
    padding: 12px 62px;
}

@media screen and (min-width: 768px) {

    .hero-button {
        margin-left: 0;
    }

}





/* ------------------- Кнопка бургер меню ------------------- */
.burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border: none;

    background: transparent;
}

.burger-icon {
    position: relative;

    overflow: hidden;
    display: block;

    width: 24px;
    height: 14px;

    background-color: var(--clr-txt-light);

    -webkit-mask-image: url('./icons/burger.svg');
    mask-image: url('./icons/burger.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.burger-icon::before {
    pointer-events: none;
    content: "";

    position: absolute;
    inset: 0;

    opacity: 0;
    background-image: var(--linear-gradient);

    transition: opacity var(--transition);
}

.burger-menu:hover .burger-icon::before,
.burger-menu:focus .burger-icon::before {
    opacity: 1;
}

.burger-icon use {
    display: none;
}

@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}


/* ------------------- Кнопка закриття (Modal / Menu) ------------------- */
/* .button-close {
    position: absolute;

    width: 16px;
    height: 16px;
    border: none;

    background-color: transparent;
}

.button-close:hover {
    transform: rotate(90deg);
}

.mobile-menu-button-close {
    top: 16px;
    right: 16px;
} */




/* ------------------- Кнопка прокрутки -------------------*/
/* .button-scroll {
    position: fixed;
    z-index: 90;

    width: 48px;
    height: 48px;
    border: 2px solid var();
    border-radius: 50%;

    color: var();

    opacity: 0.6;
    background-color: var();
}

.button-scroll:hover,
.button-scroll:focus {
    transform: scale(1.1);
    opacity: 1;
}

.button-scroll-up {
    right: 20px;
    bottom: 80px;
}

.button-scroll-down {
    right: 20px;
    bottom: 20px;
} */