.form-field {
    position: relative;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.form-input {
    width: 100%;
    padding: 12px 8px;
    border: 1px solid var();
    border-radius: 5px;

    font-size: var(--fs-card-prof);

    background-color: var(--clr-txt-light);
    outline: none;

    transition: border-color var(--transition);
}


.form-label {
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);

    color: var(--clr-txt-textarea);

    background-color: transparent;

    transition: all var(--transition);
}

.form-textarea {
    height: 220px;
}

.form-textarea-label {
    top: 24px;

}

.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    top: 0;

    padding: 0 4px;
    border-radius: 5px;

    font-size: var(--fs-nav-header);
    color: var(--clr-txt-main);

    background-color: var(--clr-txt-light);
}

.footer-input-form:not(:placeholder-shown):invalid,
.form-input:not(:placeholder-shown):invalid {
    border-color: #ff4d4d;
}

.footer-input-form:not(:placeholder-shown):valid,
.form-input:not(:placeholder-shown):valid {
    border-color: #4caf50;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}