/* ---------------- Burger Menu icon ---------------- */

/* ---------------- Hero item icon ---------------- */
.hero-item-icon {
    flex-shrink: 0;
    margin-top: 4px;
}

/* ---------------- Button Close icon ---------------- */
.button-close-icon {
    width: 20px;
    height: 20px;

    fill: var(--clr-bg-light-main);
    stroke: var(--clr-bg-light-main);

    transition: stroke var(--transition);
}

.button-close:hover .button-close-icon,
.button-close:focus .button-close-icon {
    fill: var(--clr-txt-details);
    stroke: var(--clr-txt-details);
}


/* ---------------- Button Scroll icon ---------------- */
/* .button-scroll-icon {
    fill: var();
    transition: fill var(--transition), transform var(--transition);
}

.button-scroll-up .button-scroll-icon {
    transform: rotate(-90deg);
}

.button-scroll-down .button-scroll-icon {
    transform: rotate(90deg);
}

.button-scroll:hover .button-scroll-icon,
.button-scroll:focus .button-scroll-icon {
    fill: var();
} */


/* ---------------- Video icons list ---------------- */
.video-icons-list {
    display: flex;
    gap: 20px;
}

.video-icon-item {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;

    background: transparent;

    transition: background-color var(--transition);
}

.video-icon-item::after {
    content: "";

    position: absolute;
    z-index: -1;
    inset: 0;

    padding: 2px;
    border-radius: 50%;

    background: var(--linear-gradient);

    -webkit-mask:
        linear-gradient(var(--clr-txt-light) 0 0) content-box,
        linear-gradient(var(--clr-txt-light)0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.video-icon-item::before {
    content: "";

    position: absolute;
    z-index: -1;
    inset: 0;

    border-radius: 50%;

    background: var(--linear-gradient);

    transition: opacity var(--transition);
}

.video-icon-item:hover::before,
.video-icon-item:focus::before {
    opacity: 0;
}

.video-icon {
    width: 36px;
    height: 36px;
}

/* ---------------- Social icon ---------------- */
.social-icons-list {
    display: flex;
    gap: 14px;
    justify-content: center;
    margin-bottom: 14px;
}

.social-icon-item {
    cursor: pointer;

    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;

    background: transparent;
}

.social-icon-item::after {
    content: "";

    position: absolute;
    z-index: -1;
    inset: 0;

    padding: 2px;
    border-radius: 50px;

    background: var(--linear-gradient);

    -webkit-mask:
        linear-gradient(var(--clr-txt-light) 0 0) content-box,
        linear-gradient(var(--clr-txt-light)0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.social-icon-item::before {
    content: "";

    position: absolute;
    z-index: -1;
    inset: 0;

    border-radius: 50px;

    background: var(--linear-gradient);

    transition: opacity var(--transition);
}

.social-icon-item:hover::before,
.social-icon-item:focus::before {
    opacity: 0;
}

.social-icon {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) {
    .social-icons-list {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .social-icons-list {
        margin-bottom: 0;
    }
}