/* .backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgb(0, 0, 0, 50%);

    transition: opacity var(--transition),
        visibility var(--transition);
}

.backdrop.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 95%;
    max-width: 450px;
    padding: px;
    border-radius: px;

    background-color: var();
    box-shadow: 0 4px 20px rgb(0, 0, 0, 15%);
}

.modal-title {
    margin-bottom: 0;
    font-family: var();
    font-size: var();
    text-align: center;
}

.modal-text {
    margin-bottom: 0;
    font-size: var();
    text-align: center;
}


@media screen and (min-width: 768px) {
    .modal {
        max-width: 500px;
        padding: px;
    }
}

@media screen and (min-width: 1200px) {} */