<header class="header">
  <div class="container header-container">
    <a href="/" class="logo">Mobileapp</a>

    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#">Home</a></li>
        <li><a href="#features-section">Features</a></li>
        <li><a href="#team-section">Team</a></li>
        <li><a href="#reviews-section">Testimonials</a></li>
        <li><a href="#footer">Contact</a></li>
      </ul>
    </nav>

    <button
      class="burger-menu-btn js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu">
      <svg class="burger-icon" width="24" height="14">
        <use href="/icons/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
