<div class="mobile-menu js-menu-container">
  <div class="container mobile-menu-container">
    <button
      class="mobile-menu-button-close button-close js-close-menu"
      type="button"
      aria-label="Закрити меню">
      <svg class="button-close-icon" width="20" height="20">
        <use href="/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <a href="/" class="logo mobile-menu-logo">Mobileapp</a>

    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#">Home</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#features-section">Features</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#team-section">Team</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#reviews-section">Testimonials</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#footer">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
