<div class="mobile-menu js-menu-container">
  <div class="mobile-menu-container">
    <button class="mobile-menu-button-close button-close js-close-menu" type="button" aria-label="Закрити меню">
      <svg class="button-close-icon" width="20" height="20">
        <use href="/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <a class="logo mobile-menu-logo" href="/" data-text="Mobileapp">Mobileapp</a>

    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list nav-list">
        <li>
          <a class="mobile-menu-item nav-item" href="#" data-text="Home">Home</a>
        </li>
        <li>
          <a class="mobile-menu-item nav-item" href="#features-section" data-text="Features">Features</a>
        </li>
        <li>
          <a class="mobile-menu-item nav-item" href="#team-section" data-text="Team">Team</a>
        </li>
        <li>
          <a class="mobile-menu-item nav-item" href="#reviews-section" data-text="Testimonials">Testimonials</a>
        </li>
        <li>
          <a class="mobile-menu-item nav-item" href="#footer" data-text="Contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
