<!-- <div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button
      class="button-close modal-button-close js-close-modal"
      type="button"
      aria-label="Закрити">
      <svg class="button-close-icon" width="14" height="14">
        <use href="/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-title">Download</h2>

    <div class="modal-download">
      <svg class="modal-download-icon" width="80" height="106">
        <use href="/icons/sprite.svg#icon-file-download"></use>
      </svg>
      <h3 class="section-subtitle">Download free plan</h3>
      <ul class="download-features-plan">
        <li class="download-feature">
          <svg class="download-feature-icon" width="14" height="14">
            <use href="/icons/sprite.svg#icon-play"></use></svg
          >Basic functionality</li
        >
        <li class="download-feature">
          <svg class="download-feature-icon" width="14" height="14">
            <use href="/icons/sprite.svg#icon-play"></use></svg
          >Limited access
        </li>
        <li class="download-feature">
          <svg class="download-feature-icon" width="14" height="14">
            <use href="/icons/sprite.svg#icon-play"></use></svg
          >Community support
        </li>
      </ul>
    </div>
    <div class="modal-download">
      <svg class="modal-download-icon" width="80" height="106">
        <use href="/icons/sprite.svg#icon-file-download"></use>
      </svg>
      <h3 class="section-subtitle">Download for 20$</h3>
      <ul class="download-features-plan">
        <li class="download-feature">
          <svg class="download-feature-icon" width="14" height="14">
            <use href="/icons/sprite.svg#icon-play"></use></svg
          >Ad-free experience</li
        >
        <li class="download-feature">
          <svg class="download-feature-icon" width="14" height="14">
            <use href="/icons/sprite.svg#icon-play"></use></svg
          >Unlock exclusive features
        </li>
        <li class="download-feature">
          <svg class="download-feature-icon" width="14" height="14">
            <use href="/icons/sprite.svg#icon-play"></use></svg
          >Content for the ultimate mobile experience
        </li>
      </ul>
    </div>
    <p class="modal-description"
      >Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet
      lectus non lacus
    </p>
    <div class="modal-product-info">
      <ul class="product-list">
        <li class="product">
          <div class="product-icon-box"
            ><svg class="product-icon" width="28" height="28">
              <use href="/icons/sprite.svg#icon-file"></use></svg
          ></div>
          <p class="product-label">App name</p>
          <p class="product-value">Mobileapp.layout</p>
        </li>
        <li class="product">
          <div class="product-icon-box"
            ><svg class="product-icon" width="28" height="28">
              <use href="/icons/sprite.svg#icon-license"></use></svg
          ></div>
          <p class="product-label">License</p>
          <p class="product-value">Free</p>
        </li>
        <li class="product">
          <div class="product-icon-box"
            ><svg class="product-icon" width="28" height="28">
              <use href="/icons/sprite.svg#icon-author"></use></svg
          ></div>
          <p class="product-label">Author</p>
          <p class="product-value">Mobile Marrket App.com</p>
        </li>
        <li class="product">
          <div class="product-icon-box"
            ><svg class="product-icon" width="28" height="28">
              <use href="/icons/sprite.svg#icon-data"></use></svg
          ></div>
          <p class="product-label">Data</p>
          <p class="product-value">21.02.2026</p>
        </li>
      </ul>
      <ul class="product-list">
        <li class="product">
          <div class="product-icon-box"
            ><svg class="product-icon" width="28" height="28">
              <use href="/icons/sprite.svg#icon-oc"></use></svg
          ></div>
          <p class="product-label product-label-upper">Oc</p>
          <p class="product-value">Windows</p>
        </li>
        <li class="product">
          <div class="product-icon-box"
            ><svg class="product-icon" width="28" height="28">
              <use href="/icons/sprite.svg#icon-language"></use></svg
          ></div>
          <p class="product-label">Language</p>
          <p class="product-value">English</p>
        </li>
        <li class="product">
          <div class="product-icon-box"
            ><svg class="product-icon" width="28" height="28">
              <use href="/icons/sprite.svg#icon-size"></use></svg
          ></div>
          <p class="product-label">Size</p>
          <p class="product-value">4.16 MB</p>
        </li>
        <li class="product">
          <div class="product-icon-box"
            ><svg class="product-icon" width="28" height="28">
              <use href="/icons/sprite.svg#icon-downloads"></use></svg
          ></div>
          <p class="product-label">Downloads</p>
          <p class="product-value">964</p>
        </li>
      </ul>
    </div>
    <button class="button hero-button modal-btn-open" type="button">Download</button>
  </div>
</div> -->
