<section class="section reviews-section" id="reviews-section">
  <picture class="base-blob rew-blob-top" aria-hidden="true">
    <source srcset="/icons/blobs/rew-desk-top.svg" media="(min-width: 1280px)" />
    <source srcset="/icons/blobs/rew-tab-top.svg" media="(min-width: 768px)" />
    <source srcset="/icons/blobs/rew-mob-top.svg" media="(min-width: 320px)" />
    <img class="blob-img" src="/icons/blobs/rew-desk-top.svg" alt="" />
  </picture>

  <picture class="base-blob rew-blob" aria-hidden="true">
    <source srcset="/icons/blobs/rew-desk.svg" media="(min-width: 1280px)" />
    <source srcset="/icons/blobs/rew-tab.svg" media="(min-width: 768px)" />
    <!-- <source srcset="/icons/blobs/rew-mob.svg" media="(min-width: 320px)" /> -->
    <img class="blob-img" src="/icons/blobs/rew-desk.svg" alt="" />
  </picture>

  <picture class="base-blob rew-blob-bottom" aria-hidden="true">
    <source srcset="/icons/blobs/rew-desk-bottom.svg" media="(min-width: 1280px)" />
    <source srcset="/icons/blobs/rew-tab-bottom.svg" media="(min-width: 768px)" />
    <source srcset="/icons/blobs/rew-mob-bottom.svg" media="(min-width: 320px)" />
    <img class="blob-img" src="/icons/blobs/rew-desk-bottom.svg" alt="" />
  </picture>
  <div class="container reviews-container">
    <h2 class="section-title reviews-title">What our coustomer's say</h2>
    <ul class="review-cards-list">
      <li class="review-card">
        <article>
          <img
            class="review-img"
            src="/src/img/testimonials/jon@1x.webp"
            alt="foto Jon Doe"
            width="181"
            height="181"
            srcset="/src/img/testimonials/jon@1x.webp 1x, /src/img/testimonials/jon@2x.webp 2x" />
          <h3 class="review-name">Jon Doe</h3>
          <p class="company-name">Company Inc.</p>
          <p class="review-description">
            I've been using this app for a few weeks now and I have to say, I'm really impressed. It's so easy to use and the personalized
            recommendations are spot-on. Plus, the transactions are secure and the updates are always timely. I would definitely recommend
            this app to anyone looking for a better mobile experience
          </p>
        </article>
      </li>
      <!-- <li class="review-card">
        <article>
          <img
            class="review-img"
            src="/src/img/testimonials/jon@1x.webp"
            alt="foto Jon Doe"
            width="181"
            height="181"
            srcset="/src/img/testimonials/jon@1x.webp 1x, /src/img/testimonials/jon@2x.webp 2x" />
          <h3 class="review-name">Jon Doe</h3>
          <p class="company-name">Company Inc.</p>
          <p class="review-description"
            >I've been using this app for a few weeks now and I have to say, I'm really impressed.
            It's so easy to use and the personalized recommendations are spot-on. Plus, the
            transactions are secure and the updates are always timely. I would definitely recommend
            this app to anyone looking for a better mobile experience</p>
        </article>
      </li> -->
    </ul>
  </div>
</section>
