<section class="section section-reviews" id="reviews-section">
  <div class="container reviews-container">
    <h2 class="section-title reviews-title">What our coustomer's say</h2>
    <div class="review-cards-box">
      <ul class="review-cards-list">
        <li class="review-card">
          <img
            class="review-img"
            src="/src/img/testimonials/jon@1x.webp"
            alt="foto Jon Doe"
            width="181"
            height="181"
            srcset="/src/img/testimonials/jon@1x.webp 1x, /src/img/testimonials/jon@2x.webp 2x" />
          <h3 class="review-name">Jon Doe</h3>
          <p class="company-name">Company Inc.</p>
          <p class="review description"
            >I've been using this app for a few weeks now and I have to say, I'm really impressed.
            It's so easy to use and the personalized recommendations are spot-on. Plus, the
            transactions are secure and the updates are always timely. I would definitely recommend
            this app to anyone looking for a better mobile experience</p
          >
        </li>
        <!-- <li class="review-card">
          <img
            class="review-img"
            src="/src/img/testimonials/jon@1x.webp"
            alt="foto Jon Doe"
            width="181"
            height="181"
            srcset="/src/img/testimonials/jon@1x.webp 1x, /src/img/testimonials/jon@2x.webp 2x" />
          <h3 class="review-name">Jon Doe</h3>
          <p class="company-name">Company Inc.</p>
          <p class="review description"
            >I've been using this app for a few weeks now and I have to say, I'm really impressed.
            It's so easy to use and the personalized recommendations are spot-on. Plus, the
            transactions are secure and the updates are always timely. I would definitely recommend
            this app to anyone looking for a better mobile experience</p
          >
        </li> -->
      </ul>
    </div>
  </div>
</section>
