<section class="team-section" id="team-section">
  <picture class="base-blob team-blob-top" aria-hidden="true">
    <source srcset="/icons/blobs/team-desk-top.svg" media="(min-width: 1280px)" />
    <source srcset="/icons/blobs/team-tab-top.svg" media="(min-width: 768px)" />
    <source srcset="/icons/blobs/team-mob-top.svg" media="(min-width: 320px)" />
    <img class="blob-img" src="/icons/blobs/team-desk-top.svg" alt="" />
  </picture>

  <picture class="base-blob team-blob-bottom" aria-hidden="true">
    <source srcset="/icons/blobs/team-desk-bottom.svg" media="(min-width: 1280px)" />
    <source srcset="/icons/blobs/team-tab-bottom.svg" media="(min-width: 768px)" />
    <source srcset="/icons/blobs/team-mob-bottom.svg" media="(min-width: 320px)" />
    <img class="blob-img" src="/icons/blobs/team-desk-bottom.svg" alt="" />
  </picture>
  <div class="container team-container">
    <h2 class="section-title team-title">Our team</h2>
    <p class="team-description">
      Our team is made up of talented and passionate individuals who are committed to providing the best experience for our users. Each
      member brings a unique set of skills and expertise to the table, allowing us to work collaboratively and effectively to achieve our
      goals.
    </p>
    <ul class="team-cards-list">
      <li class="team-card">
        <article>
          <img
            class="team-foto"
            src="/src/img/team/david-d@1x.webp"
            alt="foto David Patel"
            width="264"
            height="260"
            srcset="/src/img/team/david-d@1x.webp 1x, /src/img/team/david-d@2x.webp 2x"
            srcset="/src/img/team/david-t@1x.webp 1x, /src/img/team/david-t@2x.webp 2x"
            srcset="/src/img/team/david-m@1x.webp 1x, /src/img/team/david-m@2x.webp 2x" />
          <h3 class="team-name">David Patel</h3>
          <p class="team-profesion">Managing Direcor</p>
        </article>
      </li>
      <li class="team-card">
        <article>
          <img
            class="team-foto"
            src="/src/img/team/rachel-d@1x.webp"
            alt="foto Rachel Kim"
            width="264"
            height="260"
            srcset="/src/img/team/rachel-d@1x.webp 1x, /src/img/team/rachel-d@2x.webp 2x"
            srcset="/src/img/team/rachel-t@1x.webp 1x, /src/img/team/rachel-t@2x.webp 2x"
            srcset="/src/img/team/rachel-m@1x.webp 1x, /src/img/team/rachel-m@2x.webp 2x" />
          <h3 class="team-name">Rachel Kim</h3>
          <p class="team-profesion">Lead Designer</p>
        </article>
      </li>
      <li class="team-card">
        <article>
          <img
            class="team-foto"
            src="/src/img/team/rachel-d@1x.webp"
            alt="foto Samantha Chen"
            width="264"
            height="260"
            srcset="/src/img/team/samantha-d@1x.webp 1x, /src/img/team/samantha-d@2x.webp 2x"
            srcset="/src/img/team/samantha-t@1x.webp 1x, /src/img/team/samantha-t@2x.webp 2x"
            srcset="/src/img/team/samantha-m@1x.webp 1x, /src/img/team/samantha-m@2x.webp 2x" />
          <h3 class="team-name">Samantha Chen</h3>
          <p class="team-profesion">Lead Developer</p>
        </article>
      </li>
      <li class="team-card">
        <article>
          <img
            class="team-foto"
            src="/src/img/team/andrew-d@1x.webp"
            alt="foto Andrew Nguyen"
            width="264"
            height="260"
            srcset="/src/img/team/andrew-d@1x.webp 1x, /src/img/team/andrew-d@2x.webp 2x"
            srcset="/src/img/team/andrew-t@1x.webp 1x, /src/img/team/andrew-t@2x.webp 2x"
            srcset="/src/img/team/andrew-m@1x.webp 1x, /src/img/team/andrew-m@2x.webp 2x" />
          <h3 class="team-name">Andrew Nguyen</h3>
          <p class="team-profesion">Sr. UI Designer</p>
        </article>
      </li>
    </ul>
  </div>
</section>
