<section class="section section-video-promo">
  <div class="container video-promo">
    <div class="video-text-box">
      <h2 class="section-title video-title">Watch the video</h2>
      <p class="video-description"
        >Watch the video below to see our mobile app in action. With a user-friendly interface,
        personalized recommendations, secure transactions, and real-time updates, our app is
        available for download on both Apple and Android devices and is designed to make your life
        easier.</p
      >
      <ul class="video-icons-list">
        <li class="video-icon">
          <svg class="video-icon" width="30" height="36">
            <use href="/icons/sprite.svg#icon-apple"></use>
          </svg>
        </li>
        <li class="video-icon">
          <svg class="video-icon" width="32" height="36">
            <use href="/icons/sprite.svg#icon-group"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="video-promo-box">
      <img
        class="video-img"
        src="/src/img/video/iPhone-d@1x.webp"
        alt="mobile phone in hand with a video playing in the background"
        width="501"
        height="282"
        srcset="/src/img/video/iPhone-d@1x.webp 1x, /src/img/video/iPhone-d@2x.webp 2x"
        srcset="/src/img/video/iPhone-t@1x.webp 1x, /src/img/video/iPhone-t@2x.webp 2x"
        srcset="/src/img/video/iPhone-m@1x.webp 1x, /src/img/video/iPhone-m@2x.webp 2x" />
    </div>
  </div>
</section>
