/* Base styles */
@import './base/variables.css';
@import './base/reset.css';
@import './base/fonts.css';
@import './base/base.css';

/* Components styles */
@import './components/buttons.css';
@import './components/icons.css';
@import './components/mobile-menu.css';
@import './components/modal.css';
@import './components/forms.css';
/* @import './components/cards.css'; */

/* Layout styles */
@import './layout/header.css';
@import './layout/footer.css';

/* Sections styles */
@import './sections/hero-section.css';
@import './sections/features-section.css';
@import './sections/video-promo-section.css';
@import './sections/team-section.css';
@import './sections/reviews-section.css';